// @import '~/node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    //Color
    --primary: #fe2c55;
    --black: black;
    --white: white;
    --pink: pink;
    --text-color: black;
    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-hover: rgba(237, 209, 245, 0.2);
    --default-layout-horizontal-spacer: 24px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;

    //CSS Scrollbar
    html *::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }
    html *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.06);
    }
    html *::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
}

//custom tippy toolTip
body .tippy-box {
    background-color: rgb(68, 72, 71);
    border-radius: 8px;
    font-size: 13px;
    line-height: 1.3;
    white-space: normal;
}
.tippy-arrow {
    color: rgb(68, 72, 71);
}
