.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    z-index: 1;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    width: 1150px;
    min-height: 1000px;
    max-width: 100%;
    padding: 0px var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height, 60px);
}

.content {
    margin-left: 388px;
    width: 700px;
    max-width: 700px;
    flex-grow: 1;
    // background-color: rgb(235, 214, 238);
    min-height: 1000px;
    padding: 20px 0;
}
