.wrapper {
    border-top: 1px solid #e3e3e4;
    // height: 328px;
}
// .list-account_item {
//     height: 240px;
//     overflow-x: hidden;
//     overflow-y: auto;
//     padding-inline-start: 0px;
//     box-sizing: border-box;
//     background: rgb(255, 255, 255);
//     // max-height: min(100vh - 96px - 60px, 734px);
//     // min-height: 100px;
// }

.label {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
    transition: background-color ease-in-out 200ms;
    &:hover {
        background-color: var(--default-hover);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    margin-top: 0;
    font-size: 1.6rem;
    color: #161823;
    line-height: 1;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}

.name {
    font-size: 1.3rem;
    opacity: #89898dbf;
    font-weight: 600;
}

.see-more {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
    cursor: pointer;
    background-color: transparent;
}
