.wrapper {
    // width: var(--search-width);
    width: 100%;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    // margin-top: 8px;
    // padding-top: 8px;
    overflow: hidden auto;
    list-style-type: none;
    padding-inline-start: 0px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    // max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
}
