.wrapper {
    --search-height: 46px;
    --search-width: 356px;
    --search-top-spacer: 8px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    background-color: rgb(141, 175, 152, 0.3);
    // background-color: rgba(172, 188, 177);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.inner {
    display: flex;
    height: 100%;
    width: var(--default-layout-width, 1150px);
    padding: 0px var(--default-layout-horizontal-spacer);
    // margin: auto;
    justify-content: space-between;
    align-items: center;
    // background-color: rgb(172, 188, 177, 0.6);
}

.search {
    position: relative;
    display: flex;
    height: var(--search-height, 46px);
    width: var(--search-width, 356px);
    //background-color: rgb(231, 117, 71);
    border: 1.5px solid rgb(238, 235, 235);
    border-radius: 92px;
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        width: 1px;
        right: 52px;
        background-color: rgb(133, 210, 69);
    }
    input:not(:placeholder-shown) ~ .Search-btn {
        color: #e59fe5;
    }
    &:focus-within {
        border: 1.5px solid rgb(240, 203, 203);
    }
}
.search_input {
    background: rgba(22, 24, 35, 0.06);
    flex: 1;
    height: 100%;
    border: none;
    // border-radius: 92px;
    border-top-left-radius: 92px;
    border-bottom-left-radius: 92px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    // outline: none;
    appearance: textfield;
    caret-color: #e59fe5;
}
// .search_input:not(:placeholder-shown) ~ .Search-btn {
//     background-color: #e59fe5;
// }

.search-result {
    width: var(--search-width);
}
.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(147, 145, 144);
    padding: 5px 12px;
}

.close,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgb(228, 164, 248);
}

// ------Hay nhé-----
@mixin tippy-style {
    background-color: rgba(235, 216, 243, 0.7);
    color: #f56060;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
}
.Search-btn {
    font-size: 1.6rem;
    right: 520px;
    width: 52px;
    border: none;
    outline: none;
    color: rgb(226, 138, 226);
    // color: rgb(228, 164, 248);
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    &:hover {
        @include tippy-style;
    }
}

.custom-login {
    background-color: #e59fe5;
    padding: 9px 16px;
    border-radius: 999px;
}

.action {
    display: flex;
    align-items: center;
}

.action-btn {
    color: rgb(226, 138, 226);
    // height: 24px;
    font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 12px;
    line-height: 10px;
}
.more-btn {
    font-size: 2rem;
    background-color: transparent;

    margin-left: 22px;
    padding: 4px;
    background-color: #b1425b;
    border-radius: 999px;
}
.user-avatar {
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin: 0 0 0 14px;
    cursor: pointer;

    border-radius: 999px;
}
